{% include 'head.html' with title="Usuń"%}
{% include 'begin_body.html' %}
{% load static %}
<div class="container" style="padding-top: 3vh">
<div class="jumbotron">
<form action="delete" method="post">
{% csrf_token %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Link</th>
            <th scope="col">Opis</th>
            <th scope="col">Kategorie</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for i in form %}
        <tr>
            <td scope="row"> <input type="checkbox" name="{{ i.id }}"</td>
            <td scope="row"><a href="{{ i.link }}">{{ i.linkName }}</a></td>
        <td scope="row">{{ i.opis }}</td>
        <td scope="row">{{ i.kategorie }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
             <button type="submit" class="btn btn-primary">Usuń</button>

</form>
</body>
</html>