{% include 'head.html' with title="Ambienty"%}
{% include 'begin_body.html'%}
{% load static %}
<div class="container" style="padding-top: 3vh">
<div class="jumbotron">
<h2 class="text-center">Lista ambientów</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategorie</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    {% for i in form %}
    <tr>
        <td scope="row"><a href="{{ i.1 }}">{{ i.2 }}</a></td>
        <td scope="row">{{ i.3 }}</td>
        <td scope="row">{{ i.4 }}</td>
        <td scope="row"><a onclick='view("{{ i.1 }}")'><img width="30" height="30" src="{% static 'play.png' %}"></a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>