{% include 'head.html' with title="Ambienty"%}
{% include 'begin_body.html'%}
{% load static %}
<div class="container" style="padding-top: 3vh">
<div class="jumbotron">
<h2 class="text-center">Lista ambientów</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategorie</th>
        <th scope="col"></th>
        <th scope="col"><i class="fas fa-thumbs-up"></i></th>
    </tr>
    </thead>
    <tbody>

    {% for i in form %}
    <tr>
        <td scope="row"><a href="{{ i.1 }}">{{ i.2 }}</a></td>
        <td scope="row">{{ i.3 }}</td>
        <td scope="row">{{ i.4 }}</td>
        <td scope="row"><a onclick='view("{{ i.1 }}")'><i class="fas fa-play"></i></a></td>
        <td scope="row"><span id="{{ i.0 }}">{{ i.5 }}</span><br><a onclick="voteup({{ i.0 }},'{{ csrf_token }}')" class="vote"><i class="fas fa-thumbs-up"></i></a> </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>