{% include 'head.html' with title="Logowanie"%}
{% load static %}
  <body class="text-center">
      <div class="container">
          <div class="jumbotron" style="padding-bottom: 1%">
            <form class="form-signin" method="post">
                {% csrf_token %}
              <i class="fas fa-sign-in-alt fa-3x"></i>
              <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
                <div class="form-group">
                  <label for="inputName" class="sr-only">Nazwa</label>
                  <input type="text" name="name" id="inputName" class="form-control" placeholder="Nazwa" required autofocus>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="sr-only">Hasło</label>
                  <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Hasło" required>
                    <input type="checkbox" onclick='show("inputPassword")'>Pokaż hasło
                </div>
                <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" name="remember" value="1"> Zapamiętaj mnie
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            </form>
              <br><hr>
            <h3>Nie masz konta?</h3>
              <a href="register"><button class="btn btn-lg btn-block btn-success" type="button">Zarejestruj się</button></a>
             <br><h6 ><a href="/">Wróć na stronę główną</a></h6>

          </div>
      </div>
  </body>
</html>