{% include 'head.html' with title="Wyniki"%}
{% include 'begin_body.html'%}
{% load static %}
<div class="container">
<div class="jumbotron">
<h2 class="text-center">Wyniki wyszukiwania</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategorie</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {% for i in queries %}
        <td scope="row"><a href="{{ i.link }}">{{ i.linkName }}</a></td>
        <td scope="row">{{ i.opis }}</td>
        <td scope="row">{{ i.kategorie }}</td>
        <td scope="row"><a onclick='view("{{ i.link }}")'><img width="30" height="30" src="{% static 'play.png' %}"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if queries.has_previous %}{% else %}disabled{% endif %}">
      <a class="page-link" href="?page=1" tabindex="-1"><<</a>
    </li>
    <li class="page-item {% if queries.has_previous %}{% else %}disabled{% endif %}">
      <a class="page-link" href="?page={% if queries.has_previous %}{{ queries.previous_page_number }}{% endif %}" tabindex="-1">Poprzednia</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Strona {{ queries.number }}</a>
    </li>
    <li class="page-item {% if queries.has_next %}{% else %}disabled{% endif %}">
      <a class="page-link" href="?page={% if queries.has_next %}{{ queries.next_page_number }}{% endif %}">Następna</a>
    </li>
        <li class="page-item {% if queries.has_next %}{% else %}disabled{% endif %}">
      <a class="page-link" href="?page={{ queries.paginator.num_pages }}" tabindex="-1">>></a>
    </li>
  </ul>
</nav>
</div>
</div>
</body>
</html>