{% include 'head.html' with title="Profil"%}
{% include 'begin_body.html'%}
{% load static %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Twoje ambienty</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Link</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                {% for i in form %}
                    <td scope="row"><a href="{{ i.link }}">{{ i.linkName }}</a></td>
                    <td scope="row">{{ i.opis }}</td>
                    <td scope="row">{{ i.kategorie }}</td>
                    <td scope="row"><a onclick='view("{{ i.link }}")'><i class="fas fa-play"></i></a>
                    <a href="edit?id={{ i.id }}" style="color: initial;"><i class="fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>